<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}"/>
    <link rel="stylesheet" href="{{ 'css/style.css'|staticfile }}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Hello, world!</h1>

    <a href="BackEnd.say_hello_world" data-bind="true">Click to say "Hello, world"</a>
    <button type="button" class="btn btn-lg btn-primary">Primary</button>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ 'js/jquery-3.3.1.min.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap.min.js'|staticfile }}"></script>
  </body>
</html>
Examples