<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}"/>
        <link rel="stylesheet" href="{{ 'css/style.css'|staticfile }}"/>

        <!-- Before any js code, override console object to forward JS Console to shell -->
        <script>
            var console = {};
            console.log = function(log){
                Controller.console_log(log, 'log');
            };
            console.debug = function(log){
                Controller.console_log(log, 'log');
            };
            console.error = function(){
                var args = Array.prototype.slice.call(arguments, 0);
                Controller.console_log(args.join(','), 'error');
            };
            console.exception = function(){
                var args = Array.prototype.slice.call(arguments, 0);
                Controller.console_log(args.join(','), 'error');
            };
            window.console = console;
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ 'js/jquery-3.3.1.min.js'|staticfile }}"></script>
        <script src="{{ 'js/bootstrap.min.js'|staticfile }}"></script>
        <script src="{{ 'js/enigma.js'|staticfile }}"></script>

    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Enigma's Puzzle Solver</h1>
            <p>Enter a date to see its puzzle!</p>
            <form class="form-inline" action="Controller.get_puzzle" id="date_form" data-bind="true">
                <input class="form-control" type="text" id="date_form_input" name="date" placeholder="dd-mm-yyyy">
                <input class="btn btn-primary" type="submit" value="Get!" id="date_form_submit">
            </form>
            <div class="pull-right">
                <form class="form-inline" action="Controller.sync_puzzles" id="sync_form" data-bind="true">
                    <input class="btn btn-primary" type="submit" value="Sync Puzzles Now!" id="sync_form_submit">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Puzzle </div>
                        <div id="board" class="panel-body">
                            <!-- 5x5 grid -->
                            <div x="1" y="1" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="2" y="1"  class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="3" y="1"  class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="4" y="1" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="5" y="1" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="1" y="2" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="2" y="2" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="3" y="2" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="4" y="2" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="5" y="2" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="1" y="3" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="2" y="3" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="3" y="3" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="4" y="3" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="5" y="3" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="1" y="4" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="2" y="4" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="3" y="4" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="4" y="4" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="5" y="4" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="1" y="5" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="2" y="5" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="3" y="5" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="4" y="5" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div x="5" y="5" class="square">
                                <div class="content">
                                    <span class="number"></span>
                                    <div class="table">
                                        <div class="table-cell text-center" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <form class="form-inline" action="Controller.start_to_solve" id="solve_form" data-bind="true">
                                    <input class="btn btn-success" type="submit" value="Let PuzzleSolver solve it!" id="solve_form_submit">
                                </form>
                                <button id="check" class="btn btn-primary" onclick="checkPuzzle()">Check Your Answers</button></div>
                        </div>
                    </div>
                </div>
                <div id="across" class="col-sm-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Across</div>
                        <!-- List group -->
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
                <div id="down" class="col-sm-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Down</div>
                        <!-- List group -->
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
          </div>
        </div>
        <div id="solution" class="panel panel-default">
            <div x="1" y="1" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="2" y="1"  class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="3" y="1"  class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="4" y="1" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="5" y="1" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="1" y="2" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="2" y="2" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="3" y="2" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="4" y="2" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="5" y="2" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="1" y="3" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="2" y="3" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="3" y="3" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="4" y="3" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="5" y="3" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="1" y="4" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="2" y="4" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="3" y="4" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="4" y="4" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="5" y="4" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="1" y="5" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="2" y="5" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="3" y="5" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="4" y="5" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
            <div x="5" y="5" class="square">
                <div class="content">
                    <span class="number"></span>
                    <div class="table">
                        <div class="table-cell text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>