<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}"/>
        <link rel="stylesheet" href="{{ 'css/style.css'|staticfile }}"/>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ 'js/jquery-3.3.1.min.js'|staticfile }}"></script>
        <script src="{{ 'js/bootstrap.min.js'|staticfile }}"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Puzzle Solver</h1>
            <p>Enter a date to see its puzzle!</p>
            <form class="form-inline" action="Controller.get_puzzle" id="date_form" data-bind="true">
                <div class="form-group">
                    <input class="form-control" type="text" id="form_input" name="name" placeholder="dd-mm-yyyy">
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" id="form_submit">
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Puzzle</div>
                        <div class="panel-body">
                            <p>...</p>
                        </div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Across</div>
                        <div class="panel-body">
                        <p>...</p>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Down</div>
                        <div class="panel-body">
                        <p>...</p>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
    </body>
</html>